.form-control{
    border-right: 0 !important;
}

.input-group-text {
    background-color: transparent !important;

}
.btn:hover{
    color: #0c22cb !important;
    background-color: white !important;
}

.btn{
    color: #0c22cb !important;
    border-color: #0c22cb !important;
    border-radius: 0 !important;
    border-width: 3px !important;
    font-weight: bold !important;
}


.afgbtn{
    margin-right: 8px !important;
}
